<h1>Tools</h1>
  <h2><%= @cohort.name %></h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Resources</th>
      </tr>
    </thead>
    <tbody>
      <% Tool.all.each do |tool| %>
      <tr>


        <td><a href="/cohorts/<%= @cohort.id %>/tools/<%= tool.id %>"><%= tool.name %></a></td>
         <td>
         <% tool.resources.each do |resource| %>
          <a href="/cohorts/<%= @cohort.id %>/resources/<%= resource.id %>"><%= resource.name %></a><br>
         <% end %>
         </td> 
         
      </tr>
    <% end %>

    </tbody>
  </table>
<%= erb :'layouts/_footer' %>