
<h1><%= @student.name %></h1>
  <h2><%= @cohort.name %></h2>
  <table>
    <thead>
      <tr>
        <th>Resource Name</th>
        <th>Description</th> 
        <th>Link</th>
        <th>Type</th>
        <th>Subject</th>
        <th>Karma</th>

      </tr>
    </thead>
      <tbody>
        <% @student.resources.each do |resource| %>

        <tr>
          <td><%= resource.name %></td>
          <td><%= resource.description %></td>
          <td><a href="<%= resource.link %>" target="_blank"><%= resource.link %></a></td>
          
          <td><% resource.subjects.each do |subject| %>
            <a href="/cohorts/<%= @cohort.id %>/subjects/<%= subject.id %>"><%= subject.name %></a><br><% end %></td>
          
          <td><% resource.tools.each do |tool| %>
            <a href="/cohorts/<%= @cohort.id %>/tools/<%= tool.id %>"><%= tool.name %></a><br><% end %></td>
          
          <td><%= resource.karma %></td>


        
        <% end %>
          </tr>

        </tbody>
      </table>
<%= erb :'layouts/_footer' %>

