
<h1><%= @student.name %></h1>
  <h2><%= @cohort.name %></h2>
  <table>
    <thead>
      <tr>
        <th>Resource Name</th>
        <th>Description</th> 
        <th>Link</th>
        <th>Type</th>
        <th>Subject</th>
        <th>Karma</th>

      </tr>
    </thead>
      <tbody>
        <tr>
        <% @student.resources.each do |resource| %>
          <td><%= resource.name %></td>
          <td><%= resource.description %></td>
          <td><a href="<%= resource.link %>" target="_blank"><%= resource.link %></a></td>
          <td><% resource.subjects.each do |subject| %>
            <%= subject.name %><br><% end %></td>
            <td><% resource.tools.each do |tool| %>
            <%= tool.name %><br><% end %></td>
          <td><%= resource.karma %></td>


        
        <% end %>
          </tr>

        </tbody>
      </table>
<a class="button" href="/cohorts/<%= @cohort.id %>/resources/new">Add a Resource</a> 
<a class="button" href="/cohorts/<%= @cohort.id %>/students">All Students</a> 
<a class="button" href="/cohorts/<%= @cohort.id %>/resources">All Resources</a> 




