<a class="button" href="/cohorts/<%= @cohort.id %>/resources/new">Add a Resource</a> 
<a class="button" href="/cohorts/<%= @cohort.id %>/students">All Students</a> 
<a class="button" href="/cohorts/<%= @cohort.id %>/resources">All Resources</a> 
<a class="button" href="/cohorts/<%= @cohort.id %>/subjects">Resources by subject</a> 
<a class="button" href="/cohorts/<%= @cohort.id %>/tools">Resources by tool type</a>